<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Contribuição</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>123.456.789-00</td>
        <td>Suco de Acerola</td>
        <input type="checkbox" id="scales" name="scales">
      </tr>
      <tr>
        <td>Otto</td>
        <td>789.156.789-00</td>
        <td>Sanduiche</td>
        <input type="checkbox" id="scales" name="scales">
      </tr>
      <tr>
        <td>Larry the Bird</td>
        <td>852.456.789-01</td>
        <td>Bolo</td>
        <input type="checkbox" id="scales" name="scales">
      </tr>
    </tbody>
  </table>
</div>

