<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Contribuições</th>
          <th scope="col">Ações</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td (click)="goBrekker()">22/05/2023</td>
          <td (click)="goBrekker()">15</td>
          <td class="td-action">
            <input type="checkbox" id="scales" name="scales">
            <button class="btn btn-icon"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-icon"><i class="bi bi-trash3-fill"></i></button>
          </td>
        </tr>
        
        <tr>
          <td (click)="goBrekker()">28/05/2023</td>
          <td (click)="goBrekker()">25</td>
          <td class="td-action">
            <input type="checkbox" id="scales" name="scales">
            <button class="btn btn-icon"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-icon"><i class="bi bi-trash3-fill"></i></button>
          </td>
        </tr>
        <tr>
          <td>30/05/2023</td>
          <td>2</td>
          <td class="td-action">
            <input type="checkbox" id="scales" name="scales">
            <button class="btn btn-icon"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-icon"><i class="bi bi-trash3-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn">Ver mais</button>
  </div>
  

  
 