<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Contribuição</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>123.456.789-00</td>
        <td>Suco de Acerola</td>
        <input type="checkbox" id="scales" name="scales">
      </tr>
      <tr>
    </tbody>
  </table>
  <div class="add-row">
    <button class="btn btn-secondary" (click)="toggleMenu()">Adicionar Item</button>
    <button class="btn btn-secondary" (click)="newRegister()">Cadastrar Funcionário</button>
  </div>


  <div class="toggleMenu" *ngIf="visibleItem">
      <span class="font-item">Item</span>
      <input type="text">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Funcionário
        </button>
        <ul class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Francisco</a></li>
          <li><a class="dropdown-item" href="#">José</a></li>
          <li><a class="dropdown-item" href="#">Américo</a></li>
          <li><a class="dropdown-item" href="#">Carlos</a></li>
        </ul>
  </div>
  <div class="toggleMenu" *ngIf="visibleRegister">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nome</span>
      <input type="text" class="form-control" placeholder="José Maria" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">CPF</span>
      <input type="text" class="form-control" placeholder="000.000.000-00" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</div>
</div>

