<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Contribuição</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let participant of brekker?.participants">
        <td>{{participant.user.nome}}</td>
        <td>{{participant.user.cpf}}</td>
        <td>{{participant.food.nome}}</td>
      </tr>
      <tr>
    </tbody>
  </table>
  <div class="add-row">
    <button class="btn btn-secondary" (click)="toggleMenu()">Adicionar Item</button>
    <button class="btn btn-secondary" (click)="newRegister()">Cadastrar Funcionário</button>
  </div>

  <div class="toggleMenu" *ngIf="visibleItem">
    
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{selectFood}}
    </button>
    <ul class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let food of allFoods">
        <span class="dropdown-item" (click)="selectedFood(food)">{{food.nome}}</span>
      </li>
    </ul>

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{selectUser}}
    </button>

    <ul class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let funcionario of allUsers">
        <span class="dropdown-item" (click)="selectedUser(funcionario)">{{funcionario.nome}}</span>
      </li>
    </ul>

    <button class="btn btn-secondary mt-3" (click)="newItem()">Incluir</button>

  </div>


  <div class="toggleMenu" *ngIf="visibleRegister">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nome</span>
      <input type="text" class="form-control" placeholder="José Maria" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="user.nome">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">CPF</span>
      <input type="text" class="form-control" placeholder="000.000.000-00" aria-label="Username" aria-describedby="basic-addon1" [textMask]="{mask: mask}" [(ngModel)]="user.cpf">
    </div>
    <button class="btn" (click)="postUser()">Adicionar</button>
  </div>

</div>

